@font-face {
  font-family: 'Qanelas-Black';
  src: url('../fonts/Qanelas-Black.eot');
  src: url('../fonts/Qanelas-Black.woff') format('woff'),
       url('../fonts/Qanelas-Black.ttf') format('truetype'),
       url('../fonts/Qanelas-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Qanelas-Bold';
  src: url('../fonts/Qanelas-Bold.eot');
  src: url('../fonts/Qanelas-Bold.woff') format('woff'),
       url('../fonts/Qanelas-Bold.ttf') format('truetype'),
       url('../fonts/Qanelas-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas-Regular';
  src: url('../fonts/Qanelas-Regular.eot');
  src: url('../fonts/Qanelas-Regular.woff') format('woff'),
       url('../fonts/Qanelas-Regular.ttf') format('truetype'),
       url('../fonts/Qanelas-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



black()
  font-family: 'Qanelas-Black';
  font-weight: normal;
  font-style: normal;
bold()
  font-family: 'Qanelas-Bold';
  font-weight: normal;
  font-style: normal;
regular()
  font-family: 'Qanelas-Regular';
  font-weight: normal;
  font-style: normal;